
@model IEnumerable<Sistema_de_Facturacion.Models.venta>

@{
                /**/

                ViewBag.Title = "Create";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="seccion">
        <div class="titulo lead">
            <h4>Productos a vender</h4>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
        <hr />
        <div class="">
            <div class="form-inline row">
                <div class="col-3">
                    @Html.Label("Cantidad", htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.Editor("cantidad", new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-3">
                    @Html.Label("Producto", htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.DropDownList("idProducto", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-3">
                    @Html.Label("No. Factura", htmlAttributes: new { @class = "control-label col-md-2" })
                    <input name="idFactura" value="@ViewBag.idMax" class="form-control" readonly />
                </div>
                <div class="col-3">
                    <input type="submit" value="Agregar" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}
    <div class="tabla">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Producto
                    </th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto.Nombre)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-warning" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </table>
    </div>

@using (Html.BeginForm("Facturar", "ventas", FormMethod.Get))
{
    <div class="seccion">
        <div class="titulo lead">
            <h4>Datos de la Factura</h4>
        </div>
        <hr />
        <div class="">
            <div class="form-inline row">
                <div class="col-4">
                    @Html.Label("Cliente", htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.DropDownList("idCliente", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-4">
                    @Html.Label("Fecha", htmlAttributes: new { @class = "control-label col-md-2" })
                    <input name="fecha" type="date" placeholder="fecha" class="form-control" />
                </div>
                <div class="col-4">
                    <input type="submit" value="Facturar" class="btn btn-primary" />
                    @Html.ActionLink("Volver a la Lista", "Index","", new { @class = "btn btn-success" })
                </div>
            </div>
            <input name="idFactura" value="@ViewBag.idMax" class="form-control" hidden />
        </div>
    </div>

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
