@model IEnumerable<Sistema_de_Facturacion.Models.Producto>

@{
    ViewBag.Title = "Index";
}
<style>
    .seccion {
        border: solid 1px;
        border-color: gray;
        border-radius: 5px;
        background-color: #F6F6F6;
        margin: 10px;
    }
    .campos {
        background-color: white;
        padding: 10px;
    }
    .elemento{
        margin:10px;
    }
</style>
<div class="seccion">
    <div class="titulo lead">
        <h4>Agregar nuevos productos</h4>
    </div>
    <form action="\Producto/Crear" method="post" class="campos row">
        <div class="col-sm-8 row">
            <span class="elemento col-sm-5">
                @Html.Label("Nombre")<br />
                @Html.TextBox("nombre", "", new { @class = "form-control", @type = "text" })
            </span>
            <span class="elemento col-sm-5">
                @Html.Label("Precio")<br />
                @Html.TextBox("precio", "", new { @class = "form-control", type = "number" })
            </span>
        </div>
        <div class="col-sm-4">
            <input class="btn btn-success" type="submit" value="Agregar" />
        </div>
    </form>
</div>
<div class="seccion">
    <div class="titulo lead">
        <h4>Consultar productos</h4>
    </div>
    <form action="\Producto" method="post" class="form-inline">
        <div class="campos">
            <div class="form-group">
                <input class="form-control" type="text" name="busqueda" placeholder="Nombre" />
                <input class="btn btn-primary" type="submit" value="Consultar" />
            </div>
        </div>
    </form>
</div>
<div class="tabla">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-warning" }) 
                    @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</div>

