@model IEnumerable<Sistema_de_Facturacion.Models.Producto>

@{
    ViewBag.Title = "Index";
}
<style>
    
</style>
<div class="titulo lead">
    <h3>Administrar productos</h3>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="consultar">
    <form action="\Producto" method="post" class="form-inline">
        <div class="form-group">
            <input class="form-control" type="text" name="busqueda" placeholder="Nombre" />
            <input class="btn btn-primary" type="submit" value="Consultar" />
        </div>
    </form>
</div>
<div class="tabla">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-warning" }) 
                    @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</div>

