@model IEnumerable<Sistema_de_Facturacion.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<div class="seccion">
    <div class="titulo lead">
        <h4>Agregar nuevos Clientes</h4>
    </div>
    <form action="\Clientes/Crear" method="post" class="campos row">
        <div class="col-sm-8 row">
            <span class="elemento col-sm-6">
                @Html.Label("RNC/Cedula")<br />
                @Html.TextBox("cedula", "", new { @class = "form-control", @type = "text" })
            </span>
            <span class="elemento col-sm-6">
                @Html.Label("Nombre")<br />
                @Html.TextBox("nombre", "", new { @class = "form-control", type = "text" })
            </span>
            <span class="elemento col-sm-6">
                @Html.Label("Telefono")<br />
                @Html.TextBox("telefono", "", new { @class = "form-control", type = "number" })
            </span>
            <span class="elemento col-sm-6">
                @Html.Label("Email")<br />
                @Html.TextBox("email", "", new { @class = "form-control", type = "email" })
            </span>
            <span class="elemento col-sm-6">
                @Html.Label("Categoria")<br />
                @Html.DropDownList("categoria", new MultiSelectList(new[] { "Premium", "Regular" }), new { @class = "form-control" })
            </span>
        </div>
        <div class="col-sm-4">
            <input class="btn btn-success" type="submit" value="Agregar" />
        </div>
    </form>
</div>
<div class="seccion">
    <div class="titulo lead">
        <h4>Consultar clientes</h4>
    </div>
    <form action="\Clientes" method="post" class="form-inline campos row">
        <div class="">
            <div class="form-group">
                <input class="form-control" type="text" name="nombre" placeholder="Nombre" />
                @Html.DropDownList("categoria", new MultiSelectList(new[] { "Seleccione una categoria", "Premium", "Regular" }), new { @class = "form-control" })
                <input type="submit" value="Consultar" class="btn btn-primary" />
            </div>
        </div>
    </form>
    <hr />
    <div class="row">
        <div class="col-sm-4">
            <p>Conteo total: @ViewBag.total</p>
        </div>
        </div>
    </div>
    <div class="tabla">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.telefono)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RCN_Cedula)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Categoria)
                    </th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RCN_Cedula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categoria)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }

        </table>
    </div>
