
@model IEnumerable<Sistema_de_Facturacion.Models.venta>

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>venta</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    
    <div class="form-group">
        @Html.Label("cantidad", htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.Editor("cantidad", new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        @Html.Label("idProducto", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("idProducto", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("idFactura", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input name="idFactura" value="@ViewBag.idMax" class="form-control" readonly />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}
@using (Html.BeginForm("Facturar", "ventas", FormMethod.Get))
{
    <div class="form-group">
        @Html.Label("idCliente", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("idCliente", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <input name="fecha" type="datetime" placeholder="fecha" />
    <input name="idFactura" value="@ViewBag.idMax" class="form-control" readonly />
    <input type="submit" value="Facturar" class="btn btn-default" />

}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Factura.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.Nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Factura.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Nombre)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }
</table>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
