@model Sistema_de_Facturacion.Models.Factura

@{
    ViewBag.Title = "Facturar";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal seccion">
    <div class="titulo lead">
        <h4>Facturar</h4>
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="form-group col-4">
            @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input name="Fecha" value="@ViewBag.Fecha" class="form-control" readonly />
                @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-4">
            @Html.LabelFor(model => model.Total, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input name="Total" value="@ViewBag.total" class="form-control" readonly />
                @Html.ValidationMessageFor(model => model.Total, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-4">
            @Html.LabelFor(model => model.Importe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input name="Importe" value="@ViewBag.Importe" class="form-control" readonly />
                @Html.ValidationMessageFor(model => model.Importe, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-4">
            @Html.LabelFor(model => model.Descuento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    <input name="Descuento" value="@ViewBag.desc" class="form-control" readonly />
                    @Html.ValidationMessageFor(model => model.Descuento, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group col-4">
            @Html.LabelFor(model => model.ITBIS, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input name="ITBIS" value="@ViewBag.itbis" class="form-control" readonly />
                @Html.ValidationMessageFor(model => model.ITBIS, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-4">
            @Html.Label("Cliente", "idCliente", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input name="Fecha" value="@ViewBag.idCliente" class="form-control" readonly />
                @Html.ValidationMessageFor(model => model.idCliente, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-4">
            <label class="control-label">No Factura</label>
            <input name="idFactura" value="@ViewBag.idMax" class="form-control" readonly />
        </div>

        <div class="form-group col-4">s
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Facturar" class="btn btn-primary" />
                @Html.ActionLink("Cancelar", "Index", "", new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


