@model IEnumerable<Sistema_de_Facturacion.Models.Factura>

@{
                /**/

                ViewBag.Title = "Index";
}

<h2>Facturacion</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="seccion">
    <div class="titulo lead">
        <h4>Consultar Entradas</h4>
    </div>
    <form action="\ventas" method="post" class="form-inline campos row">
        <div class="">
            <div class="form-group">
                <input class="form-control" type="text" name="cliente" placeholder="Nombre del Producto" />
                <input class="form-control" type="date" name="fecha" placeholder="Fecha" />
                @Html.CheckBox("sumatoria", false, new { @class = "form-control" }) Sumatoria
                @Html.CheckBox("conteo", false, new { @class = "form-control" }) Conteo
                @Html.CheckBox("promedio", false, new { @class = "form-control" }) Promedio
                @Html.CheckBox("valorMax", false, new { @class = "form-control" }) Valor Maximo
                @Html.CheckBox("valorMin", false, new { @class = "form-control" }) Valor Minimo
                <input type="submit" value="Consultar" class="btn btn-primary" />
                @Html.ActionLink("Imprimir", "Imprimir","", new { @class = "btn btn-success" })
            </div>
        </div>
    </form>
    <div class="titulo row">
        <div class="col-sm-4">
            <p>Sumatoria total: @ViewBag.Sumatoria</p>
        </div>
        <div class="col-sm-4">
            <p>Conteo total: @ViewBag.Conteo</p>
        </div>
        <div class="col-sm-4">
            <p>Promedio total: @ViewBag.Promedio</p>
        </div>
        <div class="col-sm-4">
            <p>Valor Maximo: @ViewBag.ValorMax</p>
        </div>
        <div class="col-sm-4">
            <p>Valor Minimo: @ViewBag.ValorMin</p>
        </div>
    </div>
</div>
<div class="tabla">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Importe)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descuento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ITBIS)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cliente.Nombre)
                </th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Importe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descuento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ITBIS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Nombre)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</div>
