@model IEnumerable<Sistema_de_Facturacion.Models.venta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="seccion">
    <div class="titulo lead">
        <h4>Consultar Entradas</h4>
    </div>
    <form action="\Stocks" method="post" class="form-inline">
        <div class="campos">
            <div class="form-group">
                <input class="form-control" type="text" name="producto" placeholder="Nombre del Producto" />
                <input class="form-control" type="date" name="fecha" placeholder="Fecha" />
                <input class="form-control" type="text" name="proveedor" placeholder="Nombre del Proveedor" />
                @Html.CheckBox("sumatoria", false, new { @class = "form-control" }) Sumatoria
                @Html.CheckBox("conteo", false, new { @class = "form-control" }) Conteo
                @Html.CheckBox("promedio", false, new { @class = "form-control" }) Promedio
                <input type="submit" value="Consultar" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
<div class="tabla">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Factura.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto.Nombre)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Factura.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto.Nombre)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>
</div>
<p>Sumatoria total: @ViewBag.Sumatoria</p>
<p>Conteo total: @ViewBag.Conteo</p>
<p>Promedio total: @ViewBag.Promedio</p>
