<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    <style>
        body {
            background-color: #EDF3F3;
            font-family: sans-serif;
            padding-top:0px !important;
        }

        .consultar {
            border: solid 1px;
            border-color: gray;
            border-radius: 5px;
            background-color: white;
            margin: 10px;
        }

        .tabla {
            border: solid 1px;
            border-color: gray;
            border-radius: 5px;
            background-color: #F6F6F6;
            margin: 10px;
            font-size: large;
        }

        .titulo {
            padding: 5px;
            background-color: #F6F6F6;
            border-color: gray;
            padding-bottom: 0px;
        }

        .seccion {
            border: solid 1px;
            border-color: gray;
            background-color: #F6F6F6;
            margin: 10px;
        }

        .campos {
            background-color: white;
            padding: 10px;
        }

        .elemento {
        }

        .row {
            margin: 0px !important;
        }
    </style>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Sistema de Facturación</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @Html.ActionLink("Facturación", "Index", "ventas","" ,new { @class="nav-link"})
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Mercancia", "Index", "Stocks","", new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Productos", "Index", "Producto","", new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Proveedores", "Index", "Proveedores","", new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Clientes", "Index", "Clientes","", new { @class = "nav-link" })
                </li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
