<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<style>
    body {
        background-color: #EDF3F3;
        font-family: sans-serif;
    }
    .consultar {
        border: solid 1px;
        border-color: gray;
        border-radius: 5px;
        background-color: white;
        margin: 10px;
    }

    .tabla {
        border: solid 1px;
        border-color: gray;
        border-radius: 5px;
        background-color: #F6F6F6;
        padding-left: 5%;
        padding-right: 5%;
        margin: 10px;
        font-size: large;
    }

    .titulo {
        padding: 5px;
        background-color: #F6F6F6;
        border-color: gray;
        padding-bottom:0px;
    }
    .seccion {
        border: solid 1px;
        border-color: gray;
        background-color: #F6F6F6;
        margin: 10px;
    }

    .campos {
        background-color: white;
        padding: 10px;
    }

    .elemento {
    }
    .row{
        margin:0px !important;
    }
</style>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Facturación", "Index", "Facturacions")</li>
                    <li>@Html.ActionLink("Mercancia", "Index", "Stocks")</li>
                    <li>@Html.ActionLink("Productos", "Index", "Producto")</li>
                    <li>@Html.ActionLink("Proveedores", "Index", "Proveedores")</li>
                    <li>@Html.ActionLink("Clientes", "Index", "Clientes")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
